body {
   background-color: yellowgreen;
   background-image: url("image.png");
   background-repeat: repeat-y;
   background-size: 100%;

}
.button1 {
    background-color: blue;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    margin-left: 1000px;
    margin-right: 0px;
    cursor: pointer;
  }
  .button1:hover {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    margin-left: 1000px;
    margin-right: 0px;
    cursor: pointer;
  }
  .button2 {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    color: blue;
    padding: 15px 30px;
    text-align: center;
    font-size: 14px;
    margin-left: 1200px;
    margin-right: 0px;
    cursor: pointer;
  }
  .button2:hover {
    background-color: blue;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 14px;
    margin-left: 1200px;
    margin-right: 0px;
    cursor: pointer;
  }
  /*.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }*/
img {
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    border: 2px solid rebeccapurple;
    margin-left: 20px;
    width: 400px;
    height: 400px;
}
a:hover {
    background-color: whitesmoke;
    color: black;

}
a:active {
    background-color: brown;
    color: yellow;
    text-decoration: underline;
  }
p4 {
    color: darkorange;
    font-size: large;
    font-weight: 100;
}
a {
  background-color: #f44336;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
    background-color: yellow;
    text-align: center;
}
h5 {
    text-align: center;
    background-color:violet; 
    color: brown; 
    font-family: serif;
    margin-left: 520px;
    margin-right: 520px;
}
h5:hover {
    background-color: black;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 300px;
    margin-right: 300px;
}
.c1 {
    background-color: chartreuse;
    color: blue;
    text-align: center;
    margin-left: 550px;
    margin-right: 550px;
    padding: 0px;
}
.c2 {
    background-color: blue;
    color: white;
    margin-right: 1000px;
    padding-left: 100px;
}
.c2:hover {
    background-color: salmon;
    color: white;
    padding-left: 10px;
    padding-right: 0px;
    margin-left: 100px;
    margin-right: 1000px;
}
.a1 {
    margin-left: 0px;
    padding-left: 0px;
    background-color: black;
}
table {  
    border-style: dashed;
    border-color: saddlebrown;
    border-radius: 10px;
}
th, td {  
    border: 2px solid black;
    border-radius: 10px;
}
.tt{
    color: yellowgreen;
    background-color: black;
}
.ht {
background-color: aliceblue;
padding: 0px;
margin: 0px;
}